<%- include('../blocks/header', {bot, user, path}) %>
<% const help = {};
bot.commands.forEach((command) => {
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>
<h2>Command Management</h2>
<div class="row">
  <div class="col col-4">
    <%- include('../blocks/guild-card', {guild}) %>
  </div>
  <div class="col">
    <%- include('../blocks/guild-nav.ejs', {active: "commands", guild}) %>
    <form method="post">
      <% for (command in bot.commands) { %>
        <li class="list-group-item">
          <label class="sr-only" for="<%= command %>">
            <%= command %>
          </label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 100%; margin: 0!important;">
              <div class="input-group-addon" style="width: 150px; text-align: right; margin: 0;">
                <%= command %>
              </div>
          </div>
        </li>
      <% } %>
    </form>
  </div>
</div>
<%- include('../blocks/footer') %>
<script type="text/javascript">
  var ts = parseInt($('#guildCreate').text());
  $('#guildCreate').html(`<strong>Created</strong> : ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
</script>